# Ignore LaTeX temporary files
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.figlist
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.makefile
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.unq
/pgf-img/

# Ignore AUCTeX folder
/auto/

# Ignore backup files and temporary files
*~
*#
