# Ignore LaTeX temporary files
*.aux
*.auxlock
*.fdb_latexmk
*.figlist
*.fls
*.log
*.makefile
*.pdf
*.synctex.gz
/pgf-img/

# Ignore AUCTeX folder
/auto/

# Ignore backup files and temporary files
*~
*#
